<div>
  <app-header></app-header>
</div>
<br><br>

<div class="container">

  <div class="row">
    <!-- Columna para la imagen -->
    <div class="col-md-6 ">
      <br><br>
      <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-item-img1">
          <div class="carousel-item  active">
            <img class="   " src="../../assets/img/btc.jpg" alt="Descripción de la imagen 2">
            <div class="overlay">
              <h5>Ponemos el poder de las criptomonedas en tus manos</h5>
            </div>
          </div>

          <div class="carousel-item ">
            <img center class="  " src="../../assets/img/2.png" alt="Descripción de la imagen 2">
            <div class="overlay">
              Comercios fáciles, rápidos y seguros con atención personalizada.
            </div>
          </div>

          <div center class="carousel-item  ">
            <img class="  " src="../../assets/img/3.png" alt="Descripción de la imagen 3">
            <div class="overlay">
              <h5>Compra y venta de Zelle</h5>
            </div>
          </div>
          <div center class="carousel-item  ">
            <img class="  " src="../../assets/img/pixelcut-export (1).png" alt="Descripción de la imagen 3">
            <div class="overlay">
              <h5>Compra y venta de Zelle</h5>
            </div>
          </div>

          <div class="carousel-item ">
            <img class=" " src="../../assets/img/4.png" alt="Descripción de la imagen 4">
            <div class="overlay">
              <h5>Cambia de euros a USD</h5>
            </div>
          </div>
          
          <!-- Añade más items del carrusel según sea necesario -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
    <!-- Columna para la tabla -->
    <div class="col-md-6 text-center">
      <br>
      <h1 class="text-center">Listado de Tasas</h1>
      <table class="table table-hover">
        <thead class="table-danger">
          <tr>
            <th class="col-2 text-center">Referencia</th>
            <th class="col-2 text-center">Tasa</th>
            <th *ngIf="isAuthenticated" scope="col" class="col-2 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">BCV</td>
            <td class="text-center">{{dollarData  | number:'1.2-2'}}</td>
            <td *ngIf="isAuthenticated" class="d-flex justify-content-center">
            </td>
          </tr>
       
          <tr>
            <td class="text-center">Promedio</td>
            <td class="text-center">{{promedio | number:'1.2-2'}}</td>
            <td *ngIf="isAuthenticated" class="d-flex justify-content-center">
            </td>
          </tr>
          <tr>
            <td class="text-center">Paralelo</td>
            <td class="text-center">{{dollarParalelo | number:'1.2-2'}}</td>
            <td *ngIf="isAuthenticated" class="d-flex justify-content-center">
            </td>
          </tr>
    
        </tbody>
      </table>

      <!-- Formulario para calcular tasa a partir de Binance 5% -->
      <div>
        <label for="index22" class="form-label">
          <b>
            <h4>Cálculo de Tasa</h4>
          </b>
        </label>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="button me-1 mb-2">Tasa del día</button>

        <!-- Submenú para seleccionar la tasa -->
        <select class="input redondeado me-1 small-text"  [(ngModel)]="selectedTasa" (ngModelChange)="calculoBs()" >
          <option [value]="tasaZ">Zelle </option>
          <option [value]="panama">Panama </option>
          <option [value]="dollarData">Bcv </option>
          <option [value]="dollarParalelo">Paralelo </option>
          <option [value]="promedio">Promedio </option>

        </select>

        <!--input id="index21" class="input1" [(ngModel)]="totaltasa" readonly-->

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>

      <!-- Formulario para seleccionar las tasas a restar -->
      <div class="col-12 d-flex justify-content-center ">
        <button type="button" class="button me-1 mb-2 ">Cant a Cambiar</button>
        <input type="number" 
        id="index23" 
        class="input redondeado me-1 " 
        [(ngModel)]="index3" 
          
          (input)="validarSoloNumeros($event)"
          (ngModelChange)="calculoBs()" 
            (focus)="limpiarCampo()">

          
          <!--(ngModelChange)="restarTasas(index1, index2)"-->
        <p class="mt-2 me-1">USD </p>

      </div>
        <!--calculo de bs -->
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="button me-1 mb-2" (click)="calculoBs()">Cant en Bs</button>
        <input id="index22" class="redondeado mb-2" [value]="tasaTotal | number:'1.2-2'" readonly>
        <p class="mt-2"> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </p>
      </div>

      <!-- Botón Ganancia -->
      <div class="col-12 d-flex justify-content-center">
        <button *ngIf="isAuthenticated" type="button" class="button-ganancia me-1"
          (click)="restarTasas(index1, index2)">Ganancia</button>
        <div *ngIf="isAuthenticated" class="d-flex">
          <input id="index2" class="redondeado mb-2 me-1" [(ngModel)]="tasaResta" readonly>
          <input id="index2" class="redondeado" [(ngModel)]="totalBs" >
          <p class="mt-2">&nbsp;&nbsp;</p>
        </div>
      </div>

      <!-- Botón para crear producto -->
      <button *ngIf="isAuthenticated" type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
        data-bs-target="#insertModal">
        Crear Producto
      </button>

      <!--div class="d-flex justify-content-center">
        <button type="button" class="button-email me-1 mb-2">Email</button>
        <input id="email" class="input-correo mb-2 me-1" [(ngModel)]="email" placeholder="example@gmail.com" required>
        <p class="mt-2">&nbsp; &nbsp; &nbsp; &nbsp;</p>
      </div-->
      <br>

      <!-- Botón para enviar email -->
      <div class="col-12 d-flex justify-content-center">
        <!--<button type="link" class="btn btn-primary me-1 mb-2"   >Crear Orden</button-->
          <a class="btn btn-primary me-1 mb-2" aria-current="page" href="https://wa.me/+584121527049?text= Me indica la tasa de cambio, por favor">Crear Orden</a>

      </div>

      <div>

        <!-- Sección de mensajes -->
        <div class="chat-container">
          <div class="messages-area">
            <div *ngFor="let msg of messages" class="message-bubble">
              <p class="message-text">{{ msg }}</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <textarea [(ngModel)]="message" placeholder="Escribe un mensaje" class="form-control me-1 input-message"
            (input)="autoResize($event)" (keydown.enter)="handleEnter($event)" rows="1"></textarea>
            
            <button type="button" class="btn btn-primary button-send" (click)="sendMessage()">
              <i class="bi bi-send-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de edición -->
  <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Editar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="productoSeleccionado" (ngSubmit)="guardarCambios()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="productoSeleccionado.nombre"
                name="nombre" required>
            </div>
            <div class="mb-3">
              <label for="tasa" class="form-label">Tasa</label>
              <input type="number" class="form-control" id="tasa" [(ngModel)]="productoSeleccionado.tasa" name="tasa"
                required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de inserción -->
  <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="insertModalLabel">Insertar Nuevo Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="insertarProducto()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoProducto.nombre" name="nombre"
                required>
            </div>
            <div class="mb-3">
              <label for="tasa" class="form-label">Tasa</label>
              <input type="number" class="form-control" id="tasa" [(ngModel)]="nuevoProducto.tasa" name="tasa" required>
            </div>
            <button type="submit" class="btn btn-primary">Insertar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-block">
    <app-footer></app-footer>
  </div>